* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 28rem;
}

nav {
    display: inline-block;
    height: 100%;
    width: 60%;
    border: 0.2rem dotted black;
}

section {
    height: 30rem;
    padding: 3rem;
    display: flex;
    justify-content: center;
}

img {
    height: 25rem;
    width: 36rem;
    background-color: #1e90ff;
}

article {
    display: inline-block;
    height: 25rem;
    width: 24rem;
    background-color: #ffc0cb;
}

div.header-first-part {
    height: 4rem;
    background-color: #add8e6;
    padding: 1rem;
}

div.top-container {
    width: 65%;
    height: 2rem;
    background-color: #daa520;
    margin: 0 auto;
    display: flex;
}

div.logo {
    display: inline-block;
    height: 100%;
    width: 20%;
    border: 0.2rem dotted black;
}

div.login {
    display: inline-block;
    height: 100%;
    width: 20%;
    border: 0.2rem dotted black;
}

div.header-second-part {
    height: 24rem;
    background-color: #00008b;
    padding: 2.5rem 0;
}

div.title-container {
    height: 100%;
    width: 48%;
    background-color: #ee82ee;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
